.inputFile_createGame{
    box-sizing: border-box;

    position: absolute;
    width: 700px;
    height: 74px;
    left: 200px;
    top: 620px;


    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}
.inputFile_createGame_button{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 74px;
    left: 1000px;
    top: 620px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.9);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}