* {
    text-decoration: none;
}
.myNavLink_login{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 89px;
    left: 460px;
    top: 351px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.myNavLink_signup{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;

    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 89px;
    left: 460px;
    top: 775px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.myNavLink_login_back{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    cursor: pointer;
    color: #000000;

    box-sizing: border-box;

    position: absolute;
    width: 494px;
    height: 90px;
    left: 200px;
    top: 819px;

    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.myNavLink_signup_back{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    cursor: pointer;
    color: #000000;

    box-sizing: border-box;

    position: absolute;
    width: 494px;
    height: 60px;
    left: 200px;
    top: 920px;

    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}










.myNavLink_createGame1{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 89px;
    left: 460px;
    top: 350px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.myNavLink_joinGame{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 89px;
    left: 460px;
    top: 480px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.myNavLink_loadGame{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 89px;
    left: 460px;
    top: 610px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.myNavLink_logout{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 89px;
    left: 460px;
    top: 740px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.myNavLink_playerInfo_edit{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 50px;
    top: 150px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 1);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.myNavLink_playerInfo_logout{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 250px;
    top: 150px;

    cursor: pointer;
    text-align: center;
    background: rgba(217,217,217,1);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.myNavLink_createGame_back{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;

    line-height: 48px;

    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 50px;
    left: 150px;
    top: 900px;

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.7);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.myNavLink_gameCenter_createObject{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;


    line-height: 48px;

    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 50px;
    left: 60px;
    /*top: 600px;*/

    cursor: pointer;
    text-align: center;
    background: rgba(217, 217, 217, 0.7);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}