<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Please Log In</title>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
</head>
<body>
<div class = "main_container">
    <div class="bg_chapel">
        <div class="head_container_dice_rolling_game">
            <h1 class="head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
        </div>
            <div class = "subhead_container_login">
                <h1 class="subhead_login" >LOGIN</h1>
            </div>

            <!--Error message pop up place-->
            <div th:if="${param.error}">Invalid username and password.</div>
            <!--Logout message pop up place-->
            <div th:if="${param.logout}">You have been logged out.</div>

        <!--Form post to /login-->
        <div class="loginPage_username_container">
            <h1 class = "loginPage_text_font"> USERNAME:</h1>
        </div>
<!--        <div class="loginPage_email_container">-->
<!--            <h1 class = "loginPage_email_font"> EMAIL:</h1>-->
<!--        </div>-->
        <div class="loginPage_password_container">
            <h1 class = "loginPage_text_font"> PASSWORD:</h1>
        </div>


<form th:action="@{/login}" method="post">
    <!--        username's name should be "username"-->
    <input class = "loginPage_username_placeholder" type="text" name="username" placeholder="Username" />
    <!--        password's name should be "password"-->
    <input type="password" class = "loginPage_password_placeholder" name="password" placeholder="Password"/>

    <div>
        <input type="checkbox" class = "loginPage_checkbox" name="remember_me"/>
        <div class = "loginPage_rememberMe">
            <p class = "loginPage_text_font">Remember Me</p>
        </div>
    </div>

    <div class = "loginPage_LoginButton">
        <input class = "loginPage_Button_font" type="submit" value="Log in" />
    </div>
</form>

<div class = "loginPage_BackButton">
    <form th:action="@{/}" method="get" >
        <button class = "loginPage_Button_font"type="submit">BACK</button>
    </form>
</div>

    </div>
</div>
</body>
</html>

<!--TODO: 1. cursor changes in button-->
<!--TODO: 2. font change inside form-->
<!--TODO: 3. text center in button-->
