<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/background.css}"/>
    <link rel="stylesheet" th:href="@{/title.css}"/>
</head>
<body class="bg_chapel">
<div class="head_container_dice_rolling_game">
    <h1 class="head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
</div>
<div class="buttons_container ">
    <a href="http://www.google.com">
        <div class="button">
            <p class="button_text">LOGIN</p>
        </div>
    </a>

    <div class="button">
        <p class="button_text">DUKE SHIBBOLETH</p>
    </div>
    <div class="button">
        <p class="button_text">GOOGLE LOGIN</p>
    </div>
    <div class="button">
        <p class="button_text">CREATE ACCOUNT</p>
    </div>
</div>
</body>
</html>

