<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Game</title>
    <link rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
</head>

<body class = "bg_chapel">
    <div class="head_container_dice_rolling_game">
        <h1 class="head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
    </div>
    <div class = "subhead_container_createGame">
        <h1 class="subhead_createGame">Create Game</h1>
    </div>

    <div class = "createGamePage_gameName">
        <p class = "createGamePage_gameName_font"> GAME NAME:</p>
    </div>

    <div class = "createGamePage_playerNum">
        <p class = "createGamePage_gameName_font"> PLAYER NUMBER:</p>
    </div>

    <div class = "createGamePage_loadPreSetting">
        <p class = "createGamePage_gameName_font"> LOAD YOUR PRE SETTINGS:</p>
    </div>

    <form method="post" th:action="@{/createGame}">
<!--        <input type = "email" class = "form-control" th:fileds = "*{creatorEmail}" required  />-->
        <input type = "text" th:fileds = "*{gameName}" class = "createGamePage_gameName_placeholder" required/>
        <input type = "number"  th:fileds = "*{playerNum}" class = "createGamePage_playerNum_placeholder" required/>
        <input type="file" name="profile" accept="image/png, image/jpeg" class = "createGamePage_loadPreSetting_placeholder"/>
    </form>

    <div class = "createGamePage_fileContent">
    </div>


    <div class = "createGamePage_back">
    <form th:action="@{/}" method="get">
        <button type="submit" class = "createGamePage_back_font">Back</button>
    </form>
    </div>

    <div class = "createGamePage_confirm">
    <form th:action="@{/}" method="get">
        <button type="submit" class = "createGamePage_back_font">Confirm</button>
    </form>
    </div>


</body>
</html>

<!--ToDo 1:merge with previous page-->
