<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Account Settings</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/font.css}"/>
  <link rel="stylesheet" th:href="@{/css/background.css}"/>
  <link rel="stylesheet" th:href="@{/css/title.css}"/>
  <link rel="stylesheet" th:href="@{/css/button.css}"/>
  <link rel="stylesheet" href="../static/css/button.css">
</head>
<body>
<div class = "main_container">
  <div class="bg_chapel">

    <div class="accountSettingPage_head_container_dice_rolling_game">
      <h1 class="head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
    </div>

    <div class = "subhead_accountSetting">
      <h1 class="subhead_accountSetting_font" >ACCOUNT SETTINGS</h1>
    </div>

    <div class = "accountSettingPage_userName">
      <p class = "accountSettingPage_text_font">USERNAME: </p>
    </div>

    <div class = "accountSettingPage_firstName">
      <p class = "accountSettingPage_text_font">FIRST NAME:</p>
    </div>

    <div class = "accountSettingPage_lastName">
      <p class = "accountSettingPage_text_font">SURNAME:</p>
    </div>

    <div class = "accountSettingPage_email">
      <p class = "accountSettingPage_text_font">EMAIL:</p>
    </div>

    <div class = "accountSettingPage_uploadProfilePic">
      <p class = "accountSettingPage_text_font">Upload your Profile:</p>
    </div>

<form th:action="@{/accountSettings}" th:object="${signupDto}" method="post">

  <input type="email" th:field="*{username}" name="username" placeholder="username" class = "accountSettingPage_username_placeholder" required>
  <input type="text" th:field="*{firstName}" name="firstname" placeholder="First Name" class = "accountSettingPage_firstName_placeholder">
  <input type="text" th:field="*{lastName}" name="lastname" placeholder="Last name" class = "accountSettingPage_lastName_placeholder" required>
  <input type="text" th:field="*{email}" name="email" placeholder="Email" class = "accountSettingPage_email_placeholder"required>
  <input type="file" name="profile" accept="image/png, image/jpeg" class = "accountSettingPage_profilePic_placeholder"/>

  <div class = "accountSettingPage_profilePic_show">
  </div>

  <div class = "accountSettingPage_submit">
    <button class = "accountSettingPage_button_font" type="submit">Save</button>
  </div>
</form>

<div class = "accountSettingPage_back">
  <form th:action="@{/}" method="get">
    <button class = "accountSettingPage_button_font" type="submit">Back</button>
  </form>
</div>

  </div>
</div>

</body>
</html>