<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Please Change Password</title>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
</head>
<body class="bg_chapel">
<div class="head_container_dice_rolling_game">
    <h1 class="head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
</div>
<div class = "subhead_container_changePassword">
    <h1 class="subhead_changePassword" >CHANGE PASSWORD</h1>
</div>

<div class="changePasswordPage_oldPassword">
    <h1 class = "changePasswordPage_oldPassword_font"> OLD PASSWORD:</h1>
</div>
<div class="changePasswordPage_newPassword">
    <h1 class = "changePasswordPage_newPassword_font">OLD PASSWORD:</h1>
</div>
<div class="changePasswordPage_newPassword2">
    <h1 class = "changePasswordPage_newPassword2_font">NEW PASSWORD:</h1>
</div>


<form th:action="@{/login}" method="post">
        <input type="password" class = "changePasswordPage_oldPassword_placeholder" name="password" placeholder="Password"/>
        <input type="password" class = "changePasswordPage_newPassword_placeholder" name="password" placeholder="Password"/>
        <input type="password" class = "changePasswordPage_newPassword2_placeholder" name="password" placeholder="Password"/>

    <div class = "changePasswordPage_back">
        <input class = "changePasswordPage_back_font"type="submit" value="BACK" />
    </div>

    <div class = "changePasswordPage_OK">
        <input class = "changePasswordPage_OK_font"type="submit" value="OK" />
    </div>
</form>
</body>
</html>