<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Game</title>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/button_afterlogin.css}"/>
    <script src="/script/page_uitl.js"></script>

</head>
<body>
<div class = "main_container">
    <div class="bg_chapel">
    <div class="head_container_dice_rolling_game">
        <h1 class="head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
    </div>
    <div class = "subhead_container_createGame">
        <h1 class="subhead_createGame">Create Game</h1>
    </div>

        <!--        personal info box-->

        <div class = "personal_playerName">
        </div>

        <p class = "personal_playerName_font">Player Name</p>

        <button type='button'  class = "personal_pic_button" onclick="showPersonalInfo()"></button>
        <div id = "demo_personalInfo" class = "demo_personalInfo" style='display: none'>
            <p class = "personal_firstName">FIRST NAME:</p>
            <p class = "personal_lastName">LAST NAME:</p>
            <p class = "personal_email">EMAIL:</p>

            <!--            hard code-->
            <p class = "personal_firstName_fill">ALEX</p>
            <p class = "personal_lastName_fill">SWIFT</p>
            <p class = "personal_email_fill">alex.swift@gmail.com</p>

            <div class = "personal_edit">
                <form th:action="@{account_settings}" method="get">
                    <button class = "personal_font" type="submit">Edit</button>
                </form>
            </div>
            <div class = "personal_logout">
                <form th:action="@{logout}" method="post">
                    <button type="submit" class = "personal_font">Logout</button>
                </form>
            </div>
        </div>


        <!--invitation Box-->
        <button type='button'  class = "invite_button" onclick="showInviteInfo()"></button>
        <div id = "demo_inviteInfo" class = "demo_inviteInfo" style='display: none'>
            <!--        hard code-->
            <p class = "inviteInfo_fromPlayer1">@player 1 invite you to game ?</p>
            <div class = "inviteInfo_accept">
                <button type="submit" class = "inviteInfo_button_font">ACCEPT</button>
            </div>
            <div class = "inviteInfo_cancel">
                <button type="submit" class = "inviteInfo_button_font">CANCEL</button>
            </div>
        </div>



        <div class = "createGamePage_gameName">
        <p class = "createGamePage_gameName_font"> GAME NAME:</p>
    </div>
    <div class = "createGamePage_playerNum">
        <p class = "createGamePage_gameName_font"> PLAYER NUMBER:</p>
    </div>
    <div class = "createGamePage_loadPreSetting">
        <p class = "createGamePage_gameName_font"> LOAD YOUR PRE SETTINGS:</p>
    </div>

<form th:action="@{'/user/'+${uuid}+'/creategame'}" th:object="${createGameDto}" enctype="multipart/form-data" method="post">
    <input type="text" th:field="*{gameName}" name="gameName" placeholder="Game Name" class = "createGamePage_gameName_placeholder"  required>
    <p th:if="${#fields.hasErrors('gameName')}" th:class="${#fields.hasErrors('gameName')}?error">Game Name too short</p>

    <input type="text" th:field="*{playerNum}" name="playerNum" placeholder="PlayerNum" class = "createGamePage_playerNum_placeholder" required>
    <p th:if="${#fields.hasErrors('playerNum')}" th:class="${#fields.hasErrors('playerNum')}?error">player Number too large</p>

    <!--<input type="file" name="file" class="form-control-file">-->
    <input type="file" name="file"  class = "createGamePage_loadPreSetting_placeholder">

<!--    <button type="submit">Confirm</button>-->

    <div class = "createGamePage_confirm">
        <form th:action="@{/}" method="get">
            <button type="submit" class = "createGamePage_back_font">CONFIRM</button>
        </form>
    </div>

</form>

        <div class = "createGamePage_fileContent">
        </div>

        <div class = "createGamePage_back">
            <form th:action="@{/}" method="get">
                <button type="submit" class = "createGamePage_back_font">BACK</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>