<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GameCenter</title>
    <link rel="stylesheet" type="text/css" href="game.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<p th:text = "'Welcome, '+${loggedinformation.getEmail()}"/>
    <div class = "container text-center" >
        <div>
            <h1>Welcome to Game Center</h1>
        </div>
        <div>
            <h3><a href = "createGame" >Create Game</a></h3>
            <h3><a href = "chooseGame" >Choose Game</a></h3>
        </div>
    </div>
</body>
</html>