<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOAD GAME</title>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link rel="stylesheet" th:href="@{/css/button_afterlogin.css}"/>
    <script src="/script/page_uitl.js"></script>

</head>
<body>
<div class="main_container">
    <div class="bg_chapel">
        <div class="head_container_dice_rolling_game">
            <h1 class="head_dice_rolling_game">DICE ROLLING GAME</h1>
        </div>

        <div class="subhead_container_loadGame">
            <h1 class="subhead_loadGame">Load Game</h1>
        </div>

        <!--        personal info box-->

        <div class="personal_playerName">
        </div>

        <p class="personal_playerName_font">Player Name</p>

        <button type='button' class="personal_pic_button" onclick="showPersonalInfo()"></button>
        <div id="demo_personalInfo" class="demo_personalInfo" style='display: none'>
            <p class="personal_firstName">FIRST NAME:</p>
            <p class="personal_lastName">LAST NAME:</p>
            <p class="personal_email">EMAIL:</p>

            <!--            hard code-->
            <p class="personal_firstName_fill">ALEX</p>
            <p class="personal_lastName_fill">SWIFT</p>
            <p class="personal_email_fill">alex.swift@gmail.com</p>

            <div class="personal_edit">
                <form th:action="@{account_settings}" method="get">
                    <button class="personal_font" type="submit">Edit</button>
                </form>
            </div>
            <div class="personal_logout">
                <form th:action="@{logout}" method="post">
                    <button type="submit" class="personal_font">Logout</button>
                </form>
            </div>
        </div>


        <!--invitation Box-->
        <button type='button' class="invite_button" onclick="showInviteInfo()"></button>
        <div id="demo_inviteInfo" class="demo_inviteInfo" style='display: none'>
            <!--        hard code-->
            <p class="inviteInfo_fromPlayer1">@player 1 invite you to game ?</p>
            <div class="inviteInfo_accept">
                <button type="submit" class="inviteInfo_button_font">ACCEPT</button>
            </div>
            <div class="inviteInfo_cancel">
                <button type="submit" class="inviteInfo_button_font">CANCEL</button>
            </div>
        </div>


        <!--        hard code part: Game List-->
        <div class="loadGamePage_gameList_blackBg">
            <div class="loadGamePage_gameList">
                <table id="loadGamePage_table" class="loadGamePage_table">
                    <!--                <tr>-->
                    <!--                    <th scope = "row" class = "loadPage_gameList_name"><p class = "loadGamePage_gameList_row_font">NAME</p></th>-->
                    <!--                    <th scope = "row" class = "loadGamePage_gameList_onlinePlayerNum"><p class = "loadGamePage_gameList_row_font">ONLINE PLAYER NUM</p></th>-->
                    <!--                </tr>-->

                    <tbody class="loadGamePage_tbody">
                    <tr>
                        <td>Game1</td>
                        <td>Online Player: 4/5</td>
                        <p id='demo1' style='display: none' class="loadGamePage_demo1_position">Delete Chosen Game</p>
                        <td>
                            <button type='button' class="loadGamePage_gameList_delete" onclick="deleteReminder1()">
                                Delete
                            </button>
                        </td>
                        <td><input type="checkbox" class="loadGamePage_gameList_checkbox"/>
                    </tr>
                    <tr>
                        <td>Game2</td>
                        <td>Online Player: 1/5</td>
                        <p id='demo2' style='display: none' class="loadGamePage_demo2_position">Delete Chosen Game</p>
                        <td>
                            <button type='button' class="loadGamePage_gameList_delete" onclick="deleteReminder2()">
                                Delete
                            </button>
                        </td>
                        <td><input type="checkbox" class="loadGamePage_gameList_checkbox"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--            ok and back buttons-->

        <div class="loadGamePage_OK">
            <form>
                <button class="loadGamePage_button_font" type="submit">OK</button>
            </form>
        </div>

        <div class="loadGamePage_back">
            <form th:action="@{/}" method="get">
                <button class="loadGamePage_button_font" type="submit">Back</button>
            </form>
        </div>


    </div>
</div>

</body>
</html>