<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object Create</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/createObject.js"></script>
</head>
<body>
<h1> Select Objects </h1>
<!--<form action="#" th:action="@{/createobject}" method="post">-->
<form action="#" method="post">
    <select class="form-control" id="objectName" name="objectName">
        <option disabled> - select objects -
        </option>
        <option th:each="objectName : ${objects}" th:value="${objectName}" th:text="${objectName}">
        </option>
    </select>
    <p><input type="submit" value="Submit"/></p>
</form>
<p id="showTheTextMessage"></p>
<button onClick="createForm()">generateForm</button>
<button onclick="sendObjectName()">sendObjectName</button>
</body>
</html>