<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Mini UPS</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form action = "#" th:action="@{/signup}" th:object="${signup}" method="post">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="email" th:field="*{email}" name="email" placeholder="Email" required="">
            <input type="password" th:field="*{password}" name="pswd" placeholder="Password" required="">
            <input type="password" th:field="*{matchingPassword}" name="repswd" placeholder="Re-Enter Password" required="">
            <button type="submit">Sign up</button>
        </form>
    </div>
</div>
</body>
</html>