<!DOCTYPE html>
<html lang = "en">
<head>
    <title>signup</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/title.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
</head>
<body>
<div class = "main_container">
    <div class="bg_chapel">
        <div class="signupPage_head_container_dice_rolling_game">
            <h1 class="signupPage_head_dice_rolling_game" >DICE       ROLLING         GAME</h1>
        </div>

        <div class = "subhead_signup">
            <h1 class="subhead_signup_font" >SIGNUP</h1>
        </div>

        <div class = "signupPage_email">
            <p class = "signupPage_text_font">EMAIL:</p>
        </div>

        <div class = "signupPage_firstName">
            <p class = "signupPage_text_font">FIRST NAME:</p>
        </div>

        <div class = "signupPage_lastName">
            <p class = "signupPage_text_font">SURNAME:</p>
        </div>

        <div class = "signupPage_userName">
            <p class = "signupPage_text_font">Username:</p>
        </div>

        <div class = "signupPage_password">
            <p class = "signupPage_text_font">Password:</p>
        </div>

        <div class = "signupPage_password2">
            <p class = "signupPage_text_font">Re-Enter Password:</p>
        </div>

        <div class = "signupPage_uploadProfilePic">
            <p class = "signupPage_text_font">Upload your Profile:</p>
        </div>

<form th:action="@{/signup}" th:object="${signupDto}" method="post">
    <input type="email" th:field="*{email}" name="email" placeholder="Email" class = "signupPage_email_placeholder" required>
    <!--    note that fields.hasErrors check th:object's field name rather than form name-->
    <p th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')}?error">Email Errors</p>
    <!--    The th:class choose css error using regular expression -->
    <input type="text" th:field="*{firstName}" name="firstname" placeholder="First Name" class = "signupPage_firstName_placeholder">
    <p th:if="${#fields.hasErrors('firstName')}" th:class="${#fields.hasErrors('firstName')}?error"> First Name
        Errors</p>

    <input type="text" th:field="*{lastName}" name="lastname" placeholder="Last name" class = "signupPage_lastName_placeholder" required>
    <p th:if="${#fields.hasErrors('lastName')}" th:class="${#fields.hasErrors('lastName')}?error">LastName Errors</p>

    <input type="text" th:field="*{username}" name="username" placeholder="Username" class = "signupPage_username_placeholder"required>
    <p th:if="${#fields.hasErrors('username')}" th:class="${#fields.hasErrors('username')}?error">username Errors</p>

    <input type="password" th:field="*{password}" name="password" placeholder="Password" class = "signupPage_password_placeholder"required>
    <p th:if="${#fields.hasErrors('password')}" th:class="${#fields.hasErrors('password')}?error">password Errors</p>


    <input type="password" th:field="*{reEnterPassword}" name="repassword" placeholder="Password"
                                 class = "signupPage_password2_placeholder" required>
    <p th:if="${#fields.hasErrors('reEnterPassword')}" th:class="${#fields.hasErrors('reEnterPassword')}?error">password
        Not Match</p>


<!--        <label>Upload your Profiles:</label>-->
        <div class = "signupPage_profilePic">
        <input type="file" name="profile" accept="image/png, image/jpeg" class = "signupPage_profilePic_font"/>
        </div>

        <div class = "signupPage_profilePic_show">
        </div>

<!--submit button-->
        <div class = "signupPage_submit">
        <button class = "signupPage_button_font" type="submit">Sign up</button>
        </div>
</form>

<!--        back botton-->
<div class = "signupPage_back">
<form th:action="@{/}" method="get">
    <button class = "signupPage_button_font" type="submit">Back</button>
</form>
</div>


    </div>
</div>

</body>
</html>
