body, html {
    background-color:#1E1E1E;
    margin: 0;
}

.bg_chapel {
    /* The image used */
    background-image: url("/images/background.png");
    /* Full height */
    position: relative;
    width: 1440px;
    height: 1024px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

