@font-face {
    font-family: 'Bungee Regular';
    src: url("/font/bungee/Bungee-Regular-webfont.woff");
}
@font-face {
    font-family: 'Bungee Inline';
    src: url("/font/bungee/Bungee-Regular-webfont.woff");
}

.error {
    color: red;
}