.head_container_dice_rolling_game {
    /*text-align: center;*/
    /*margin: 0 auto;*/
    position: absolute;
    width: 1317px;
    height: 118px;
    left: 62px;
    top: 93px;
}

.head_dice_rolling_game {
    font-family: 'Bungee Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}