.header_dice_rolling_game {
    font-family: 'Bungee Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;

    /*text-align: center;*/
    /*margin: 0 auto;*/
    position: absolute;
    width: 1317px;
    height: 100px;
    left: 62px;
    top: 0px;
}

.header_login{
    font-family: 'Bungee Inline',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;

    position: absolute;
    width: 1000px;
    height: 117px;
    left: 242px;
    top: 200px;
}
.header_login_error{
    font-family: 'Bungee Inline',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 43px;
    text-align: center;

    color: #ff0000;

    position: absolute;
    width: 1000px;
    height: 117px;
    left: 242px;
    top: 300px;
}
.header_signup_error{
    font-family: 'Bungee Inline',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 43px;
    text-align: center;

    color: #ff0000;

    position: absolute;
    width: 1000px;
    height: 117px;
    left: 242px;
    top: 840px;
}
.header_createGame_error{
    font-family: 'Bungee Inline',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 43px;
    text-align: center;

    color: #ff0000;

    position: absolute;
    width: 1000px;
    height: 117px;
    left: 242px;
    top: 840px;
}
.header_login_username{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 269px;
    top: 400px;
    color: #FFFFFF;
}

.header_login_password{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #FFFFFF;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 269px;
    top: 550px;
}

.header_rememberme{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #FFFFFF;

    position: absolute;
    width: 400px;
    height: 48px;
    left: 300px;
    top: 660px;
    text-align: center;
}


.header_signup{
    font-family: 'Bungee Inline',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;

    position: absolute;
    width: 1000px;
    height: 117px;
    left: 242px;
    top: 200px;
}


.header_signup_email{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 270px;
    color: #FFFFFF;
}
.header_signup_firstname{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 370px;
    color: #FFFFFF;
}
.header_signup_surname{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 850px;
    top: 370px;
    color: #FFFFFF;
}
.header_signup_username{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 470px;
    color: #FFFFFF;
}
.header_signup_password{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 570px;
    color: #FFFFFF;
}
.header_signup_reEnterPassword{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 670px;
    color: #FFFFFF;
}
.header_signup_upload_your_profile{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 770px;
    color: #FFFFFF;
}









.header_playerInfo{
    position: absolute;
    width: 736px;
    height: 51px;
    left: 80px;
    top: -6px;

    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 48px;

    color: #FFFFFF;
}

.header_playerInfo_firstName{
    position: absolute;
    width: 736px;
    height: 51px;
    left: 50px;
    top: 20px;

    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 48px;

    color: #FFFFFF;
}

.header_playerInfo_lastName{
    position: absolute;
    width: 736px;
    height: 51px;
    left: 50px;
    top: 50px;

    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 48px;

    color: #FFFFFF;
}
.header_playerInfo_Email{
    position: absolute;
    width: 736px;
    height: 51px;
    left: 50px;
    top: 80px;

    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 48px;

    color: #FFFFFF;
}



.header_createObject_a{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: absolute;
    width: 466px;
    height: 90px;
    left: 200px;
    top: 270px;
    color: #FFFFFF;
}


.header_fieldName{
    font-family: 'Bungee Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    position: relative;
    /*width: 466px;*/
    /*height: 90px;*/
    /*left: 500px;*/
    /*top: 300px;*/
    color: #FFFFFF;
}

